{{#each contacts}}
<li class="contacts-item">
    <div class="item-box">
        <h3 class="item-title">{{name}}</h3>
        <p class="item-text">{{phoneNumber}}</p>
    </div>
    <button type="button" class="item-button">X</button>
    <button type="button" class="item-buttonn">Edit</button>
</li>
{{/each}}